In [1]:
# import statement

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [9]:
# import data, basic stats

### Change path if using it on a different computer
data = pd.read_csv("C:\\Users\\darre\\Downloads\\sales_data.csv")
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      942 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  943 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

             Price  Units Sold
count   945.000000  943.000000
mean    108.628011   10.200424
std     167.350086    3.247589
min       0.190000    2.000000
25%      26.420000    8.000000
50%      64.640000   10.000000
75%     142.310000   12.000000
max    2636.900000   22.000000

In [11]:
# testing cell 1
data.head(50)

       Product     Region   Price  Units Sold   Sale Date
0          NaN   Region_1   72.87        10.0  2022-01-01
1   Product_40   Region_2   46.19        10.0  2022-01-02
2    Product_1   Region_5     NaN         4.0  2022-01-03
3    Product_6   Region_8  143.47         8.0  2022-01-04
4   Product_44   Region_4  122.54        10.0  2022-01-05
5   Product_21   Region_8   15.76        20.0  2022-01-06
6   Product_31  Region_10    1.60        11.0  2022-01-07
7          NaN        NaN     NaN        11.0  2022-01-08
8   Product_20   Region_8    9.55         8.0  2022-01-09
9   Product_34   Region_1   58.88         NaN  2022-01-10
10  Product_40   Region_5  119.96         8.0  2022-01-11
11   Product_3   Region_7  110.99         7.0  2022-01-12
12  Product_31        NaN  270.39         6.0  2022-01-13
13  Product_35   Region_6   36.16         NaN  2022-01-14
14  Product_34   Region_4   20.51         6.0  2022-01-15
15  Product_50   Region_8  141.53         5.0  2022-01-16
16  Product_40   Region_6  121.10         8.0  2022-01-17
17   Product_4   Region_5   74.25         9.0  2022-01-18
18  Product_19  Region_10  202.71        11.0  2022-01-19
19  Product_23        NaN  306.38         9.0  2022-01-20
20   Product_6   Region_9     NaN        12.0  2022-01-21
21  Product_13   Region_8  155.29        15.0  2022-01-22
22         NaN        NaN   36.26         NaN  2022-01-23
23  Product_19   Region_4     NaN        11.0  2022-01-24
24   Product_9   Region_8  282.73        12.0  2022-01-25
25         NaN   Region_4   24.51         7.0  2022-01-26
26   Product_3   Region_4    8.23         NaN  2022-01-27
27  Product_48   Region_6   26.42         9.0  2022-01-28
28  Product_26   Region_9  180.04        16.0  2022-01-29
29  Product_13   Region_7   57.35        10.0  2022-01-30
30   Product_4   Region_4    7.42        10.0  2022-01-31
31  Product_26   Region_8   46.09         5.0  2022-02-01
32  Product_44        NaN   86.47        12.0  2022-02-02
33  Product_50   Region_2  201.79         8.0  2022-02-03
34   Product_4   Region_3   54.40        10.0  2022-02-04
35  Product_35   Region_3   47.16         7.0  2022-02-05
36  Product_42   Region_1   95.54        14.0  2022-02-06
37  Product_44   Region_8   83.33        16.0  2022-02-07
38         NaN   Region_2  230.97         NaN  2022-02-08
39  Product_20   Region_5     NaN         7.0  2022-02-09
40  Product_14   Region_9     NaN         7.0  2022-02-10
41   Product_5   Region_4     NaN        10.0  2022-02-11
42  Product_37   Region_9   23.35        10.0  2022-02-12
43         NaN        NaN   13.59        12.0  2022-02-13
44  Product_31   Region_8   49.27         4.0  2022-02-14
45         NaN   Region_3     NaN        12.0  2022-02-15
46  Product_12   Region_6  207.17        14.0  2022-02-16
47  Product_20   Region_9   30.24         6.0  2022-02-17
48         NaN   Region_5   36.52        11.0  2022-02-18
49   Product_8   Region_5  492.33         6.0  2022-02-19

In [ ]:
# testing cell 2

# maybe do mean, median and stuff on price but it wont mean much I think

# then start looking at grouping the data to analyze it how she asked in the questions

In [ ]:
# notes cell 1

'''
Region could be thought of a store selling the product

Quantity is the number of products that the given store sold at the given price

Data cleaning needed for I think every column except for sale date (yes, can tell from the desription above)



'''